.btn {
    background: transparent;
    border: 2px solid #74FAC0;
    color: #74FAC0;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}
.btn:hover {
    transition-duration: 0.5s;
    background-color: #000000;
    transform: translatey(-5px);
}