.presentation {
    text-align: left;
    margin-left: 6%;
}
.presentation h1 {
    font-size: 75px;
}
.presentation p {
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .presentation {
        margin-top: -1.5em;
    }
    .presentation p {
        font-size: 10px;
        margin-top: -5px;
    }
    .presentation h1 {
        font-size: 20px;
    }
    .presentation button {
        width: 120px;
        margin-left: 12em;
        margin-top: -15px;
        margin-bottom: 10px;
        height: 25px;
        font-size: 10px;
        font-weight: bold;
    }
}