.projects {
    text-align: left;
    margin-top: 2em;
    font-size: 35px;
}
.projects h1 {
    margin-left: 1.8em;
}
.projects section {
    text-align: center;
    margin-top: 2em;
}
@media screen and (max-width: 500px) {
    .projects h1 {
        font-size: 15px;
        margin-top: -65px;
        margin-bottom: -10px;
    }
    .projects img {
        width: 10px;
        
    }
    .projects section {
        margin-top: 1em;
    }
    .projects button {
        color: #74FAC0;
        font-size: 5px;
        margin-left: -25px;
        margin-bottom: -1px;
    }
}