.projects {
    text-align: left;
    margin-top: 2em;
    font-size: 35px;
}
.projects h1 {
    margin-left: 1.8em;
}
.projects section {
    text-align: center;
    margin-top: 2em;
}
@media screen and (max-width: 500px) {
    .projects h1 {
        font-size: 20px;
        margin-top: -55px;
    }
    .projects img {
        width: 10px;
        
    }
    .projects button {
       color: red;
    }
}