.skills {
    margin-left: 5em;
    margin-top: 3em;
    font-size: 25px;
    Width: 1640px;
    background: #01091CBF;
    Height:420px;
    border-radius: 30px;
}
.skills h1 {
    font-size: 66px;
}
.skills p {
    font-size: 30px;
}
.skills img {
    margin: 10px 40px;
    width: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
    transition-duration: 0.5s;
}
.skills img:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    width: 180px;
}
@media screen and (max-width: 500px) {
    
    .skills {
        margin-top: -18px;
        margin-left: 30px;
        width: 340px;
        height: 90px;
    } 
    .skills img {
        width: 28px;
        margin: 15px 10px; 
        gap: 125px;
        filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
        transition-duration: 0.5s;
    }
    .skills img:hover {
        width: 35px;
        transform: translateY(-9px);
        transition-duration: 0.5s;
    }
        .skills h1 {
            font-size: 18px;
            margin-bottom: -5px;
        }
    .skills p {
        margin-bottom: -5px;
        font-size: 10px;
    }   
    
}
