.skills {
    margin-left: 5em;
    margin-top: 3em;
    font-size: 25px;
    Width: 1640px;
    background: #01091CBF;
    Height:420px;
    border-radius: 30px;
}
.skills h1 {
    font-size: 66px;
}
.skills p {
    font-size: 30px;
}
.skills img {
    margin: 10px 40px;
    width: 150px;
}